<form method="POST" class="content" action="/auth/register">
    <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="input-style" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" id="mobile" name="mobile" class="input-style" placeholder="Mobile">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="input-style" placeholder="Password" required>
    </div>
    <%- include(viewPath('layouts/error-messages')) %>
    <a href="/auth/login" class="link-style">Did you Registered?</a>
    <button class="submit-style">Register</button>
</form>